[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5-Colours-Demo"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5-Colours-Demo
	url = https://github.com/Kongduino/M5-Colours-Demo
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack_CrackScreen"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack_CrackScreen
	url = https://github.com/nomolk/M5Stack_CrackScreen
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack_FlappyBird_game"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack_FlappyBird_game
	url = https://github.com/pcelli85/M5Stack_FlappyBird_game
[submodule "examples/M5Stack-SD-Menu/SD-Apps/Pixel-Fun-M5Stack"]
	path = examples/M5Stack-SD-Menu/SD-Apps/Pixel-Fun-M5Stack
	url = https://github.com/neoxharsh/Pixel-Fun-M5Stack
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack-Pacman-JoyPSP"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack-Pacman-JoyPSP
	url = https://github.com/tobozo/M5Stack-Pacman-JoyPSP
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack-Rickroll"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack-Rickroll
	url = https://github.com/tobozo/M5Stack-Rickroll
[submodule "examples/M5Stack-SD-Menu/SD-Apps/SpaceDefense-m5stack"]
	path = examples/M5Stack-SD-Menu/SD-Apps/SpaceDefense-m5stack
	url = https://github.com/dsiberia9s/SpaceDefense-m5stack
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack-SpaceShooter"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack-SpaceShooter
	url = https://github.com/PartsandCircuits/M5Stack-SpaceShooter
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack_Sokoban"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack_Sokoban
	url = https://github.com/robo8080/M5Stack_Sokoban
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5_LoRa_Frequency_Hopping"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5_LoRa_Frequency_Hopping
	url = https://github.com/Kongduino/M5_LoRa_Frequency_Hopping
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack-NyanCat"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack-NyanCat
	url = https://github.com/tobozo/M5Stack-NyanCat
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack-ESP32-Oscilloscope"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack-ESP32-Oscilloscope
	url = https://github.com/botofancalin/M5Stack-ESP32-Oscilloscope
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack-MegaChess"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack-MegaChess
	url = https://github.com/PartsandCircuits/M5Stack-MegaChess
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack-PacketMonitor"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack-PacketMonitor
	url = https://github.com/tobozo/M5Stack-PacketMonitor
[submodule "examples/M5Stack-SD-Menu/SD-Apps/mp3-player-m5stack"]
	path = examples/M5Stack-SD-Menu/SD-Apps/mp3-player-m5stack
	url = https://github.com/dsiberia9s/mp3-player-m5stack
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack-Tetris"]
        path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack-Tetris
        url = https://github.com/PartsandCircuits/M5Stack-Tetris
        ignore = dirty
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack-DrawNumber"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack-DrawNumber
	url = https://gist.github.com/ksasao/c67d6fff5641e6fd40c7705352f6759e
[submodule "examples/M5Stack-SD-Menu/SD-Apps/d_invader"]
	path = examples/M5Stack-SD-Menu/SD-Apps/d_invader
	url = https://github.com/NibblesLab/d_invader
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack_lifegame"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack_lifegame
	url = https://gist.github.com/shioken/fa2c3f5923170d86dd358b313d6ab244
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5_reversi"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5_reversi
url = https://gist.github.com/shioken/e90b9fa3b43d8b067adde77a75768efd
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack_NyanCat_Ext"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack_NyanCat_Ext
	url = https://github.com/xisai/M5Stack_NyanCat
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Stack-Thermal-Camera"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Stack-Thermal-Camera
	url = https://github.com/hkoffer/M5Stack-Thermal-Camera-
[submodule "examples/M5Stack-SD-Menu/SD-Apps/M5Tube"]
	path = examples/M5Stack-SD-Menu/SD-Apps/M5Tube
	url = https://github.com/tobozo/M5Tube
